:root {
    --first-color: #81ecec;
    --second-color: rgb(106, 160, 106);
    --third-color: rgb(26, 25, 26);
    --fourth-color: rgb(3, 28, 58);
    --fifth-color: white;
    --sixth-color: rgb(243, 230, 213);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*style body*/
body {
    color: var(--third-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/*style header*/
header {
    padding: 20px 35px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--fourth-color);
}

header h1 {
    padding: 30px 0 30px 0;
    font-size: 50px;
    font-weight: bold;
    color: var(--fifth-color);
    background-color: var(--fourth-color);
    text-decoration: underline;
}

header nav {
    margin: 60px 0;
    align-items: center
}

header a {
    color: var(--fifth-color);
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 10px 15px; 
    font-weight: lighter; 
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgb(3, 3, 3);
}
/*end header styles*/

/*about me styles**/

.about-me img {
    width: 15%;
    position: center;
    border-radius: 50px;
    padding: 10px;
}

.about-me h1 {
    font-weight: bold;
    font-size: 50px;
    padding: 20px 30px 30px 20px;
    background-color: var(--fourth-color);
    color: var(--fifth-color);
}
.about-me {
    display: flex;
    flex-wrap: none;
    justify-content: space-between;
    padding: 20px 0 10px 0;
    text-align: center;
    background-color: var(--fifth-color);
}

.about-me p {
    text-align: center;
    padding: 40px 10px 0 10px;
}

/*end about me styles*/

/*my work styles*/

.my-work h1 {
    font-weight: bold;
    font-size: 50px;
    padding: 20px 30px 30px 20px;
    background-color: var(--fourth-color);
}
.pacificdraftworks img {
    width: 50%;
    margin: 10px;
    padding: 5px;
    border: 10px solid var(--fourth-color);
    border-radius: 20px;
    background-color: var(--third-color)
}

.runbuddy img, .robotwars img, .css img, .javascript img {
    width: 50%;
    margin: 10px;
    padding: 5px;
    border: 10px solid var(--fourth-color);
    border-radius: 20px;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    text-align: center;
    background-color: var(--fifth-color);
    color: var(--fifth-color);
}

.my-work h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

/*end of my work section*/

.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px 0 10px 0;
    text-align: center;
    background-color: var(--fourth-color);
    color: var(--fifth-color);
    align-content: stretch;
    align-items: center;
    flex-direction: row;
}

/*footer styles*/

footer {
    background-color: var(--fourth-color);
    color: var(--fifth-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px 0 20px 0;
    font-size: 10px;
    flex-direction: column;
}

/*end footer styles*/
